
.apply-container {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
  background: rgb(241, 237, 237);
}
/* Form.css */

.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: rgb(11, 126, 164);
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 0;
  display: block;
  width: 100%;
}

.google-sign-in-button span {
  margin-left: 10px;
}

.google-sign-in-button:hover {
  opacity: 0.9;
}


.apply-title {
  font-family: Arial, sans-serif; /* Change the font family */
  font-size: 24px;
  font-weight: bold;
  color: rgb(8, 158, 233);
  margin-bottom: 20px;
  text-align: center;
}

.apply-label {
  font-family: Arial, sans-serif;
  display: block;
  color: rgb(20, 5, 130);
  margin-bottom: 5px;
}

.apply-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius:20px;
}

.apply-button {
  background: linear-gradient(to right, #2cd57b, #1bfc02); /* Green to Pink */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}


.apply-button:hover {
  background: linear-gradient(to right, #0eef06, #0ee67e); /* Darker Green to Darker Pink */
}

.thank-you {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  background-color: #48bb78; /* Green */
  border-radius: 20px;
}

.thank-you h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.thank-you p {
  color: white;
  font-size: 18px;
}

.error-message {
color: #ee3910;
font-size: 11px;
margin-top:1px;
}
@media (min-width: 768px) {
.apply-container {
  max-width: 500px; /* Adjust the max-width as needed */
}
}
